.tagsLink, .socialLinksLink {
    display: inline-block;
}

li.navLink>a.disabled {
    visibility: hidden;
}

ul.lang-selector {
    float: right;
}

.categoriasLink {
    display: inline;
}

.categoriasLink a {
    margin: 2px;
    padding: 2px 4px 1px;
    white-space: nowrap;
}

td.nivel2 {
    padding-left: 20px !important;
}

.materialCursoCategoria {
    margin-right: 10px;
}

div.pageContent {
    clear: both;
    margin: 2em 2em 0 0;
    text-align: justify;
}

div.pageContent p {
    margin-bottom: 1em;
}

div.pageContent ul {
    margin-left: 4em;
}

div.pageContent ul li {
    list-style: disc;
}

div#header {
    position: relative;
}

div#header img.beta {
    position: absolute;
    top: 50px;
    right: 270px;
}

span.grupoMaterial {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}